<div id="header">
	<div id="logo"></div>
	<input type="text" id="search" />
</div>
<div id="results-list" x-mojo-element="List"></div>
<div id="spinner" class="spin"></div>

<div id="details">
	<div id="close">x</div>
	<h1 id="title"></h1>
	<p class="message">This domain is <span id="message">available</span></p>
	<div class="buttons-wrapper">
		<div id="whois" class="button">WHOIS</div>
		<div id="register" class="button">Register</div>
		<div id="tld" class="button">TLD Info</div>
	</div>
</div>